<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CNPM"
        tools:targetApi="31">
        <activity
            android:name=".Ds_hd"
            android:exported="false" />
        <activity
            android:name=".TTCN"
            android:exported="false" />
        <activity
            android:name=".qlyNv"
            android:exported="false" />
        <activity
            android:name=".DoanhThu"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.ASSIST" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Sanpham"
            android:exported="false" />
        <activity
            android:name=".InvoiceDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".Hoadon"
            android:exported="false" />
        <activity
            android:name=".dangnhap"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".dangky" />
        <activity android:name=".Vaitro" />
        <activity android:name=".nhanvien" />
        <activity android:name=".quanly" />
    </application>

</manifest>